apiVersion: fleet.cattle.io/v1alpha1
kind: GitRepo
metadata:
  name: {{ fleet_gitrepo_name }}
  namespace: {{ fleet_gitrepo_namespace }}
spec:
  repo: {{ fleet_gitrepo_url }}
  branch: {{ fleet_gitrepo_branch }}
{% if fleet_gitrepo_insecure_skip_tls %}
  insecureSkipTLSVerify: true
{% endif %}
{% if fleet_gitrepo_token %}
  clientSecretName: {{ fleet_gitrepo_secret_name }}
{% endif %}
{% if fleet_gitrepo_paths %}
  paths:
{% for path in fleet_gitrepo_paths %}
    - {{ path }}
{% endfor %}
{% endif %}
